:root {
  --basic-black: #000000;
  --basic-dark: #363636;
  --basic-grey: #464646;
  --basic-half-grey: #7E7E7E;
  --basic-grey-light: #E5E5E5;
  --basic-white: #ffffff;
  --special-yellow-dark: #F0C52E;
  --special-green: #91C92F;
  --special-yellow: #F7E296;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
}


img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.main-navigation {
  font-size: 18px;
  line-height: 22px;
  color: var(--basic-black);
  background-color: var(--special-yellow);
}

.user__list-navigation,
.nav__list-navigation li {
  list-style: none;
}

.main-navigation a:hover,
.main-navigation a:focus {
  background-color: var(--special-yellow);
}

.search {
  width: 106px;
  height: 20px;
  left: 98px;
  top: 64px;
  font-style: normal;
  color: rgba(0, 0, 0, 0.3);
}

.user__list-navigation a {
  font-style: normal;
  color: var(--basic-black);
}

.nav__list-navigation a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--basic-black);
}

.list-navigation_column a {
  font-family: "Open Sans";
  font-style: normal;
}

.slider__page {
  display: block;
  padding-bottom: 19px;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  color: #000000;
  letter-spacing: .01em;
}

.slider__text {
  margin: 0;
  padding: 0;
  font-style: normal;
  letter-spacing: .01em;
}

.btn {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.table-slider__1 .table-value {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
  color: #000000;
}

.table-slider__1 .table-parameters {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #000000;
}

.title__section-info {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
  color: #000000;
}

.text__section-info {
  font-style: normal;
  line-height: 28px;
  color: #000000;
}

.content__title {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  color: #000000;
}

.content__list {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
  opacity: 0.3;
}

.titel__goods-item {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: #000000;
}

.comparison {
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1em;
  opacity: 0.5;
}

.price {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
}

.page_footer {
  width: 1440px;
  color: var(--basic-white);
  background-color: var(--basic-dark);
}

.user__list-footer,
.nav__list-footer,
.social__list-footer {
  list-style: none;
}

.footer-address {
  font-style: normal;
  color: var(--basic-white);
}

.nav__list-footer a {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ffffff;
}

.tel {
  font-style: normal;
  color: #FFFFFF;
}

.user__list-footer a {
  font-style: normal;
  color: rgba(255, 255, 255, 0.7);
}
